Check that the links are working please<br/>

<%= link_to 'without_code', '/examples/without_code', remote: true %><br/>
<%= link_to 'no_partials', '/examples/no_partials', remote: true %><br/>
<%= link_to 'partials_included', '/examples/partials_included', remote: true %><br/>
<%= link_to 'partials_within_directory', '/examples/partials_within_directory', remote: true %><br/>
<%= link_to 'partials_without_underscore', '/examples/partials_without_underscore', remote: true %><br/>
<%= link_to 'underscore_partials', '/examples/underscore_partials', remote: true %><br/>

<%= link_to 'uses_helpers', '/examples/uses_helpers', remote: true %><br/>

<br/>


<div id="updatePanel">I am starting out here</div>
